* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    height: 100px;
    width: 100%;
    background-color: #7c162e;
    font-family: 'Chivo', sans-serif;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: #191528;
}

header .logo-text a {
    font-size: 30px;
    color: white;
}

.options {
    display: inline;
    margin-left: 50px;
    font-size: 18px;
    color: white;
}

.dropdown {
    border-top: 1px solid rgba(255, 255, 255, 0.521);
    height: 100px;
    background-color: #5c162e;
    position: relative;
    font-family: 'Chivo', sans-serif;
}

.dropdown ul {
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -350px;
    width: 700px;
}

.dropdown li {
    float: left;
}

.dropdown a {
    display: block;
    text-align: center;
    width: 150px;
}

.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.success-message {
    margin-top: 80px;
    text-align: center;
    color: white;
    font-family: 'Chivo', sans-serif;
}

.success-message h2 {
    margin-bottom: 40px;
}

@media screen and (max-width: 1023px) {

    .dropdown li {
        width: 33%;
    }

    .logo-text {
        margin: 0 auto;
    }

    .nav li {
        display: none;
    }


}

@media screen and (min-width: 1024px) {

    .dropdown {
        display: none;
    }

    .nav li {
        display: inline;
    }

}